# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# History files (VSCode, editors, etc.)
.history
.history/
**/.history
**/.history/
*.history
.vscode/history/
.vscode/.history/